:root {
    --cor-primario: #00FF08;
    --cor-segundaria: #fff;
    --cor-navbar: #5c5c5c;
    --cor-linksBackground: rgb(0, 0, 0);
}

body {
    background-color: var(--cor-linksBackground);
}

p {
    color: var(--cor-segundaria);
}

main {
    margin-top: 140px;
}

/* ------------- CABEÇALHO --------------- */

#navbar {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    position: fixed;
    background-color: rgb(0, 0, 0, 0.3);
    top: 0;
}

.navbarInteracao {
    padding: 1.5rem;

    & ul {
        display: flex;
        list-style-type: none;

        & a {
            padding: 0 3rem;
            text-decoration: none;
            font-size: 1.2rem;
            text-transform: capitalize;
            color: var(--cor-navbar);
            transition: 0.2s linear;
           
        }

        & a:hover {
            color: var(--cor-segundaria);
        }
    }
}

.btnContato {
    text-decoration: none;
    font-size: 1.3rem;
    padding: .5rem 2.3rem;
    text-transform: capitalize;
    font-weight: 500;
    background-color: var(--cor-primario);
    border-radius: 50px;
    color: var(--cor-linksBackground);
}

.btnContato:hover {
    box-shadow: 0 0 20px #11d818;
}


/* ------------ main ------------ */

/* ------------ section principal --------------- */

#ctdPrincipal {
    display: flex;
    margin: 40px;
}

.cntdMain {
    margin: 100px 70px;

    & h1 {
        font-size: 2.5rem;
        font-weight: 400;
        color: var(--cor-segundaria);
    }

    & h3 {
        font-size: 2rem;
        font-weight: normal;
        margin: .5rem 0 5rem;
        color: var(--cor-segundaria);
    }
}

.cntdMain span {
    font-size: 3rem;
    font-weight: bold;
    text-transform: capitalize;
    color: var(--cor-primario);
}

/* ----------- skills ----------- */

#skills {

    & h2 {
        text-align: center;
        font-size: 3rem;
        color: var(--cor-primario);
        text-transform: uppercase;
        letter-spacing: 3px;
        margin-bottom: 50px;
    }
}

.skillsImg {
    width: 700px;
    margin: 0 auto;

    & img {
        width: 200px;
        height: 200px;
    }
}