:root {
    --cor-primario: #4f46e5;
    --cor-segundaria: #fff;
    --cor-sombra: #7c3aed;
}

.particulas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -999;
    opacity: 0.5;
    background: radial-gradient(circle at 10% 20%, var(--cor-primario) 0%, transparent 20%),
        radial-gradient(circle at 90% 80%, var(--cor-sombra) 0%, transparent 20%)
}

/* ------------- ANIMACAO IMAGEM PRINCIPAL --------------- */

@keyframes movimentoImg {
    0% {
       transform: translate(30px,100px);
    }
}



/* ------------- CABEÇALHO --------------- */

#navbar {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    position: fixed;
    backdrop-filter: blur(5px);
    background-color: rgb(0, 0, 0, 0.3);
    top: 0;
    z-index: 9999;
}

.navbarInteracao {
    padding: 1.5rem;
}

.navbarInteracao ul {
    display: flex;
    list-style-type: none;
}

.navbarInteracao a {
    position: relative;
    padding: .4rem .7rem;
    margin: 0 2rem;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: capitalize;
    color: #c9d1da;
    transition: 0.3s linear;

}

.navbarInteracao a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: var(--cor-primario);
    transition: width 0.4s ease;
}

.navbarInteracao a:hover::after {
    width: 100%;
}

.navbarInteracao a:hover {
    color: var(--cor-segundaria);

}

.btnContato {
    text-decoration: none;
    font-size: 1.3rem;
    padding: .5rem 2.3rem;
    text-transform: capitalize;
    font-weight: 500;
    background-color: var(--cor-primario);
    border-radius: 50px;
    color: rgb(0, 0, 0);
    transition: .2s linear;
}

.btnContainer {
    transition: .2s linear;
    width: fit-content;
}

.btnContato:hover {
    box-shadow: 0 0 15px var(--cor-sombra);
}

.btnContainer:hover {
    transform: scale(1.05);
}


/* ------------ MAIN ------------ */

/* ------------ section principal --------------- */

#conteudoPrincipal {
    display: flex;
    margin: 40px;
    justify-content: center;
}

.containerConteudo {
    margin: 100px 70px;
    padding-top: 3rem;
}

.containerConteudo h3 {
    font-size: 2rem;
    font-weight: normal;
    margin: .5rem 0 5rem;
    color: var(--cor-segundaria);
}

.imgPrincipal img {
    animation: movimentoImg 3.4s infinite alternate linear;
}

/* ----------------- sobre mim ------------------ */

.containerSobreMim {
    margin-top: 70px;
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.sobreMimContent {
    margin-left: 3rem;
    background-color: rgba(128, 128, 128, 0.1);
    padding: 2rem;
    border-radius: 20px;
}

.sobreMimContent h2 {
    margin-left: 1rem;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.sobreMimContent p {
    margin-top: 1rem;
    font-size: 1.1rem;
    text-align: justify;
}

.sobreMimContent a {
    text-transform: uppercase;
    text-decoration: none;
}

.iconsProfile img {
    padding: 15px;
    border-radius: 100%;
    background-color: var(--cor-primario);
    width: 55px;
    height: 55px;
    margin: 1rem 0 0 1rem;
    transition: .2s linear;
}

.iconsProfile img:hover {
    box-shadow: 0 0 10px var(--cor-sombra);
    transform: scale(1.1);
}

/* ----------- skills ----------- */

#skills h2 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 70px;
}

.skillsImg {
    width: 700px;
    margin: 0 auto;
}

.skillsImg img {
    width: 160px;
    height: 160px;
    margin: 1rem 0 0 2.5rem;
    cursor: pointer;
}

/* ------------- meus projetos ------------  */

#meusProjetos {
    box-shadow: 0 0 40px 10px #ffffff1d;
    width: 100%;
}

#meusProjetos h2 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 70px 0;
}

.containerProjetos {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 4.5rem 0;

}

.imgProjetos {
    position: relative;

}

.imgProjetos img {
    width: 24rem;
    height: 31rem;
    cursor: pointer;
    border-radius: 40px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 99%;
    background-color: #000000b8;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 600;
    color: var(--cor-segundaria);
    opacity: 0;
    transition: .5s;
    text-transform: uppercase;
}

.overlay:hover {
    opacity: 1;
    cursor: pointer;
}

/* ------------- ENTRE CONTATO ------------  */


#entreContato h2 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 4rem;
}

.containerform {
    width: 700px;
    margin: 0 auto;
    background-color: rgba(128, 128, 128, 0.1);
    padding: 2rem;
    text-align: center;
    border-radius: 20px;
}

.contato {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
}

.contato input,
textarea {
    background-color: rgba(109, 109, 109, 0.1);
    margin-bottom: 2.5rem;
    padding: 1rem;
    color: var(--cor-segundaria);
    border-radius: 20px;
    border: none;
    outline: none;
}

.contato input:focus,
textarea:focus {
    outline: 1px solid var(--cor-sombra);
    box-shadow: 0 0 15px #7c3aeda9;
}

.containerform button {
    border: none;
    width: 100%;
    margin-bottom: 3rem;
}

footer {
    padding: 2rem;
    text-align: center;
    background-color: rgb(0, 0, 0, 0.3);
    width: 100%;
}


/* ---------- RESPONSIVO ------------ */


@media screen and (max-width: 600px) {

    main {
        margin-top: 0;
    }

    #navbar {
        display: none;

    }

    /* ---------- conteudo principal -------------- */

    #conteudoPrincipal {
        flex-direction: column;
        width: 100%;
    }

    .containerConteudo h2,
    .containerConteudo span {
        font-size: 2rem;
    }

    .imgPrincipal img {
        width: 90% !important;
    }




    /* ---------- sobre mim -------------- */

    .containerSobreMim {
        flex-direction: column;
        margin: 0 auto;
        text-align: center;
    }

    .minhaImg img {
        width: 100% !important;

    }

    .sobreMimContent {
        margin: 0 auto;
        padding: 2rem;
    }

    .sobreMimContent h2,
    .sobreMimContent span {
        font-size: 2rem;
    }

    .sobreMimContent p {
        font-size: 1rem;
    }




    /* ---------- skills -------------- */

    .skillsImg {
        display: flex;
        flex-wrap: wrap;
        justify-content: center ;
        
    }

    .skillsImg img {
        width: 100px;
        height: 100px;
        margin: 0.5rem;
    }




    /* ---------- meus projetos-------------- */
    #meusProjetos h2,
    #meusProjetos span {
        font-size: 2rem;

    }

    .imgProjetos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center !important;
    }


    .imgProjetos img {
        max-width: 14rem;
        height: 16rem !important;
        margin-bottom: 1rem;
        border-radius: 15px;

    }

    .overlay {
        top: 47%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1rem;
        text-align: center;
        width: 96%;
        height: 96%;
        border-radius: 15px;
    }


    /* ---------- entre contato -------------- */

#entreContato {
    width: 100%;
}

    #entreContato h2,
    #entreContato span {
        font-size: 2rem;

    }

}

@media screen and (max-width: 768px) {
    main {
        margin: 0;
    }

    #navbar {
        display: none;
    }


    /* ------- conteudo principal ----------- */
    #conteudoPrincipal {
        flex-direction: column;
        align-items: center;
    }


    /* ----------- sobre mim ------------- */

    .containerSobreMim {
        flex-direction: column;
        align-items: center;
    }

    .sobreMimContent {
        margin-left: 0;
        margin-top: 1.5rem;
    }


    /* ----------- skills ------------- */

    .skillsImg {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .skillsImg img {
        width: 120px;
        height: 120px;
        margin: 1rem;
        display: block;
    }

    /* ----------- projetos ------------- */

    .containerProjetos {
        margin: 2rem auto !important ;
    }
    
    .imgProjetos img {
        margin: 1rem auto ;
        width: 10rem !important;
        height: 14rem !important;

    }

    .overlay {
        top: 49%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 92%;
        height: 90%;
    }


    /* ----------- entre contato ------------- */

    .containerform {
        width: 70%;
    }
}

@media screen and (max-width: 1024px) {


    .btnContato {
        font-size: 1rem;
        padding: .7rem 1.5rem;

    }


    /* ------- conteudo principal ----------- */
    #conteudoPrincipal {
        align-items: center;
    }

    .containerConteudo h2 {
        font-size: 2rem;
    }

    .containerConteudo span {
        font-size: 1.8rem;
    }

    .imgPrincipal img {
        width: 100%;
        
    }


    /* ----------- sobre mim ------------- */

    .containerSobreMim {
        flex-direction: column;
        align-items: center;
    }

    .sobreMimContent {
        margin-left: 0;
        margin-top: 1.5rem;
    }

    .minhaImg img {
        width: 350px;
    }

    .sobreMimContent h2,
    .sobreMimContent span {
        font-size: 2rem;
    }

    /* ----------- skills ------------- */

    #skills h2,
    #skills span {
        font-size: 2rem;
    }


    /* ----------- projetos ------------- */
    #meusProjetos h2,
    #meusProjetos span {
        font-size: 2rem;
    }

    .containerProjetos {
        justify-content: start;
        align-items: center;
        margin: 0 auto;
        width: 75%;
    }

    .imgProjetos img {
        margin: 1rem;
        width: 16rem !important;
        height: 22rem !important;
    }

    .overlay {
        top: 49%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 92%;
        height: 90%;
    }


    /* ----------- entre contato ------------- */
    #entreContato h2,
    #entreContato span {
        font-size: 2rem;
    }

    .containerform {
        width: 60%;
    }
}